/** RESET **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** MY **/
h2 {
    font-size:130%;
    margin-top:10px;
}

.time-left{
    text-align: right;
    float: right;
    font-family: "Lucida Console", Monaco, monospace;
    padding-left:20px;
}
.skill{
    overflow:hidden;
    font-size:100%;
}

.skill:nth-child(even) {
    background: #CCC
}
.skill:nth-child(odd) {
    background: #FFF
}

#account-add{
    border: 1px solid #444444;
    margin:10px;
    padding: 5px;
}

#account-add h3{
    margin-bottom: 0.5em;
}

div.error{
    margin-bottom: 0.5em;
    color:#B94A48;
}

.input_line{
    overflow: hidden;
    margin-bottom: 0.5em;
}
.input_line label{
    display: inline-block;
    width: 10em;
}
.input_line .input{
    display: inline-block;
}

#skill_list .skill{
    padding:3px 0;
}