<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div id="login">
    {% if user %}
        Hello (( user.nickname() )) <a href="(( logout_url ))">logout</a>
    {% else %}
        Hello guest, <a href="(( login_url ))">click here</a> to login or register
    {% endif %}
</div>

{% if user %}
    <div ng-app="eve" id="main-page">
    <div ng-controller="accounts">
        <div id="account_list">
            Account list:
            <div class="account" ng-repeat="account in accounts">
                <a href="#" ng-click="$parent.select_account(account)">{{ account }}</a>
                <a href="#" ng-click="$parent.delete_account(account)">delete</a>
            </div>
        </div>



        <div id="account-add">
            <h3>Add account</h3>

            <div ng-show="err_msg" class="error">
                {{ err_msg }}
            </div>

            <form ng-show="available">
                <div class="input_line">
                    <label for="account_key_id">Key id:</label>

                    <div class="input">
                        <input id="account_key_id" type="text" ng-model="key_id"/>
                    </div>
                </div>

                <div class="input_line">
                    <label for="account_secret">Secret:</label>

                    <div class="input">
                        <input id="account_secret" type="text" ng-model="key_secret"/>
                    </div>
                </div>

                <input type="submit" value="Add" ng-click="send()"/>
            </form>
        </div>
    </div>


    <div ng-controller="characters">
        Account: {{ account }}
        <div id="character_list">
            <div class="account" ng-repeat="character in chars">
                <a href="#" ng-click="$parent.select_char(character.id)">{{ character.name }}</a>
            </div>
        </div>
    </div>

    <div ng-controller="skills">
    <h2>Skills</h2>
    <div id="skill_list">
        <div class="skill" ng-show="time < skill.end" ng-repeat="skill in skills">
            <div class="time-left">{{ skill.end-time|timespan_format }}</div>
            {{ skill.skill }} (lvl {{ skill.level }})
        </div>
    </div>
    <div>

    <div ng-controller="skill_tree">
    <h2>Trained</h2>
    <a href="#" ng-click="open = false" ng-show="open">Close</a>
    <a href="#" ng-click="open = true" ng-hide="open">Open</a>

    <div id="skill_list" ng-show="open">
        <div class="skill" ng-repeat="skill in skill_tree">
            {{ skill.name }} (lvl {{ skill.level }}) - {{ skill.sp }}
        </div>
    </div>
    <div>

    <div ng-controller="bp_jobs">
    <h2>Blueprint Jobs</h2>
    <a href="#" ng-click="open = false" ng-show="open">Close</a>
    <a href="#" ng-click="open = true" ng-hide="open">Open</a>

    <div id="skill_list" ng-show="open">
        <div class="skill" ng-repeat="bp_job in bp_jobs">
            <div class="time-left" ng-show="bp_job.completed || bp_job.end_ts < time">done</div>
            <div class="time-left"
                 ng-hide="bp_job.completed || bp_job.end_ts < time">{{ bp_job.end_ts-time|timespan_format }}</div>
            {{ bp_job.bp }} x {{ bp_job.runs }}<br/>{{ bp_job.activity }}

        </div>
    </div>
    <div>
    </div>
{% endif %}
</body>
</html>
